.SignupPage {
  width: 500px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 40px;
}

.SignupPageTitle {
  font-size: 3rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.SignupPage input {
  width: 300px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
  text-align: center;
}

.LoginButton {
  width: 70px;
  height: 20px;
  background-color: white;
  border: none;
  color: rgb(88, 88, 88);
}
